<div class="parallax"></div>

    <div class="container" id="home-background-img">
      <div class="row" >
        <div class="col-md-4 col-md-offset-4" id="home-logo">
          <h1>Ace Roofing</h1>
          <a href="#" class="thumbnail">
            <img src="app/assets/images/logo.png">
          </a>
          <h2>Call today for a free roof estimate! 408-548-7094</h2>
          <button type="button" class="btn btn-primary">Request a Quote</button>
        </div>
      </div>
  
  </div>



<h3>Ace roofing Inc. is a full service professional roofing company that serves the San Francisco Bay Area. We are proud to provide quality work with every roofing project for our customers. Ace Roofing, Inc. is actively license by the California Contractors State License Board to do business in San Francisco and throughout the state of California.</h3>
