<div class="parallax"></div>

    <div class="container-fluid" id="home-content">
      <div class="row">
        <div class="col-md-5 col-xs-12 col-centered" id="home-logo">
          <br><br><br><br><br><br>
          <div class="col-xs-12">
            <img id="logo" src="app/assets/images/logo.png">
          </div>

          <div class="col-xs-12">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h2> Call today for a free roof estimate!</h2>
            <h2>415-872-9300</h2>
          </div>
          <button href="#contact" du-smooth-scroll du-scrollspy type="button" class="btn btn-success btn-lg">Request a Quote</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-xs-12 col-centered">
          <h3 class="home-text">Ace Roofing Inc. is a full service professional roofing
            company that serves the San Francisco Bay Area. We are proud
             to provide quality roofing work for all of our
             customers. Ace Roofing Inc. is actively licensed by the
             California Contractors State License Board to do business
             in San Francisco and throughout the state of California.</h3>
        </div>
      </div>
    </div>
