

  <form>
  <!-- NAME -->
    <h2>Request a Free Quote</h2>
    <div class="input-group">
      <label>Name:</label><br>
      <input type="text" class="form-name" placeholder="John" >
      <input type="text" class="form-name" placeholder="Doe" >
    </div>

  <br>
  <!-- EMAIL -->
  <div class="input-group">
    <label>Email:</label><br>
    <input type="text" name="email" placeholder="example@gmail.com" value="">
  </div>
  <br>
  <!-- PHONE -->
  <div class="input-group">
    <label>Phone:</label><br>
    <input type="text" name="phone" placeholder="xxx-xxx-xxxx" value="">
  </div>
  <br>
  <!-- ADDRESS -->
  <div class="input-group">
    <label>Address:</label><br>
    <input id="address-input"type="text" name="address1" placeholder="Address 1" value=""><br>
    <input id="address-input" type="text" name="address2" placeholder="Address 2" value=""><br>
    <input id="address-input" type="text" name="city" placeholder="San Francisco" value="">
    <input id="address-input" type="text" name="state" placeholder="CA" value="">
    <input id="address-input" type="text" name="zip" placeholder="94124" value="">
  </div>
  <!-- DESCRIPTION -->
  <div class="input-group">
    <label>Project Description:</label><br>
    <textarea name="description" rows="8" cols="80" placeholder="Project Description"></textarea>
  </div>
  <br>
  <!-- SUBMIT -->
  <button class="btn btn-success btn-lg" type="submit">REQUEST FREE QUOTE</button>
</form>
