<div class="page-header">
  <h1>Services</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-centered">
      <h3 class="services-text">Ace Roofing provides roof repair, replacement, inspection and
      more for the San Francisco Area. We provide services for both home and business
      owners. We provide repairs for all types of roofing systems. This
      includes attic insulation, skylight installations and solar opportunites.
      It is important to check and make sure that your roof is not leaking.
      Roof leaks can lead to ceiling damage, attic damage, and mold issues.
      Please contact us for more information.</h3>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-md-12 ">
    <div class="thumbnail serv-thumb">
      <img src="app/assets/images/shingle.png" alt="service-img">
      <div class="caption">
        <h3>Shingle Roof</h3>
        <p>Shingles consist of a core layer made from fiberglass mat,
        a layer of asphalt on both the top and bottom of the shingle, and
        a surface coating comprised of colored mineral granules. Composite
        shingles are available in many colors. Their typical lifespan is
        around 15-30 years. </p>

      </div>
    </div>

    <div class="thumbnail">
      <img src="app/assets/images/bur.png" alt="service-img">
      <div class="caption">
        <h3>Built-Up Roof (Bitumen)</h3>
        <p>A waterproof membrane consisting of alternating layers of roofing
          fiberglass felt and hot asphalt. The typical system consists of
          a base sheet and two or three layers of ply sheets. A flood
          coat of hot asphalt is applied over the entire roof and can
          be finished with a layer of clean pea gravel, a mineral-surfaced
          fiberglass cap sheet, or several reflective or elastometric coatings.
          The finish of the roof provides protection from ultraviolet sunrays,
          minimizes heat gain on the building, and gives the roof its required
          fire rating.  </p>
      </div>
    </div>

    <div class="thumbnail">
      <img src="app/assets/images/km.png" alt="service-img">
      <div class="caption">
        <h3>KM Coating Roof</h3>
        <p>Applying the KM Shieldcoat liquid-applied roof system to an
          existing roof sytem improves the roof's durability by extending
          the service life by 5-20 years and improving the energy efficiency
          of the building.
          <br>
          <br>KM Shieldcoat Benefits:
          <ul>
            <li>Tear, puncture, and uplift resistant</li>
            <li>Environmentally friendly</li>
            <li>Low VOC, and UV Stable Cool roof solution</li>
            <li>California Title 24 Compliant</li>
          </ul>
        </p>
      </div>
    </div>

  </div>
  </div>

</div>
