html, body {
height: 100%;
width: 100%;
margin: 0;
/*font-family: 'Work Sans', sans-serif;*/
font-family: 'Raleway', sans-serif;
}

.ng-scope {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

/*---NAVBAR---*/


.navbar .nav {
    margin: 0;
    width: 80%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-size: 18px;
}

.navbar .nav li:first-child a {
    border-left: 1px solid rgba(255, 255, 255, .75)
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 1px solid rgba(255, 255, 255, .75);
    border-radius: 0 3px 3px 0;
}

.mr0 {
margin-right: 0px !important;
}

/*---BACKGROUND---*/
.jumbotron {
  height: 650px;
}

.parallax {
  background: url(../images/house1.png) no-repeat fixed 100%;
  background-size: 100%;
  width: 100%;
  height: 870px;
  opacity: ;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

#home-content {
  position: absolute;
  top: 50px;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  padding-top: 30px;
  padding-bottom: 40px;
}

#home-content h2 {
  font-size: 2.5em;
  font-style: bold !important;
  color: beige;
  padding: 5px;

}

#logo {
  width: 230px;
  margin-top: -170px;
}

.call-message {
  margin-top: 48px;
}

#home-logo button {
  margin-top: 20px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.home-text {
  margin: 150px;
  line-height: 48px;
  height: 250px;
  font-size: 2em;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
