.reviews-section {
background: url(../images/house1_front.png) no-repeat fixed;
background-size: cover;
opacity: .9;
height: 1000px;
}

.carousel-inner > .item > img {
    margin: auto;
    margin-top: 150px;
}

#review-header {
  font-size: 3.5em;
  color: black;
}

.page-header {
  font-size: 1.5em;

}

.yelp-button {
  margin-left: 46%;
}

#yelp-biz-badge-rrc-I2i-L2bUi0yLWT31keqt_A {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}
