.services-text {
  font-size: 24px;
}

.page-header {
  text-align: center;
  margin-bottom: 10px;
}

.thumbnail {
  width: 400px;
  height: 650px;
  margin: 20px;
  display: inline-block !important;
  font-size: 16px;
  text-align: center;
  vertical-align: top;

}

.thumbnail img {
  width: 370px;
  height: 300px;
  margin: 10px;
}

.caption {
  padding: 0px !important;
}

.row {
  text-align: center;

}

.col-md-12 {
  display: inline-block;
}
